$base-header
  font-weight: 300

html
body
  font: $app-font-size $app-font-family
  padding: 0
  margin: 0
  height: 100%
  color: $app-text-color

a
  text-decoration: none

input[type='text']
  padding: 15px
  font-size: 1em
  border: 1px solid #CCC
  outline: 0
  width: 100%

h1
  @extends $base-header
  font-size: $h1-size
h2
  @extends $base-header
  font-size: $h2-size
h3
  @extends $base-header
  font-size: $h3-size
h4
  @extends $base-header
  font-size: $h4-size
h5
  @extends $base-header
  font-size: $h5-size
h6
  @extends $base-header
  font-size: $h6-size
