$vertical-align
  position: relative;
  top: 50%;
  transform translateY(-50%)

.red
  color: $red

.thin
  font-weight: 300

.vertically-center
  @extends $vertical-align

.center
  text-align: center
  margin: 0 auto

.container
  width: $viewport-width
  margin: 0 auto
  position: relative

  &.small
    width: 50%

.no-margin
  margin: 0