.container
  width: $viewport-width
  margin: 0 auto
  position: relative

.no-margin
  margin: 0

.no-top-margin
  margin-top: 0

.push-quarter
  top: 25%
  position: relative;

.hide
  display: none

.margin-bottom-40
  margin-bottom: 40px

.margin-bottom-20
  margin-bottom: 20px

.clearfix
  &:after
    content: '.'
    display: block
    clear: both
    visibility: hidden
    line-height: 0;
    height: 0;

.full-width
  width: 100%