$vertical-align
  position: relative;
  top: 50%;
  transform translateY(-50%)

.red
  color: $red

.thin
  font-weight: 300

.vertically-center
  @extends $vertical-align

.center
  text-align: center
  margin: 0 auto

.container
  width: $viewport-width
  margin: 0 auto
  position: relative

  &.small
    width: 50%

.no-margin
  margin: 0

.no-top-margin
  margin-top: 0

.push-quarter
  top: 25%
  position: relative;

.hide
  display: none

.margin-bottom-40
  margin-bottom: 40px

.clearfix
  &:after
    content: '.'
    display: block
    clear: both
    visibility: hidden
    line-height: 0;
    height: 0;

.right
  float: right

.full-width
  width: 100%