extends layout

block content
  .container.push-quarter
    h1.main-title.fade.slide.from-bottom.slow.no-top-margin Welcome to Tasky
    .centered-button-container
      a.button.large.background-less.fade.slow(href='/phone_numbers') Get Started

  script
    | new Tasky.Index();