doctype html
html
  head
    title Tasky
    link(rel='stylesheet' href='/stylesheets/flat-ui.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src='/javascripts/application.js' type='text/javascript')
  body
    if (!skipHeader)
      header.main-header
        a.logo(href='/') Tasky
    block content