h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
input[type='text'],
textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  border: 1px solid #ccc;
  margin: 0;
  padding: 15px;
  font-size: 1em;
  font-weight: 300;
}
html,
body {
  font: 16px Lato, Helvetica;
  padding: 0;
  margin: 0;
  height: 100%;
  color: #424756;
}
a {
  text-decoration: none;
}
textarea {
  min-height: 100px;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 0.8em;
}
i + i {
  margin-left: 10px;
}
.vertically-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.red {
  color: #fd6e6e;
}
.thin {
  font-weight: 300;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.container {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.container.small {
  width: 720px;
}
.no-margin {
  margin: 0;
}
.no-top-margin {
  margin-top: 0;
}
.push-quarter {
  top: 25%;
  position: relative;
}
.hide {
  display: none;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.right {
  float: right;
}
.full-width {
  width: 100%;
}
.slow {
  -webkit-transition-duration: 0.8s !important;
  -moz-transition-duration: 0.8s !important;
  -ms-transition-duration: 0.8s !important;
  -o-transition-duration: 0.8s !important;
  transition-duration: 0.8s !important;
}
.transition-all {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.grow {
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
  max-height: 0;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.fade.in {
  opacity: 1;
}
.slide {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slide.from-bottom {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}
.slide.from-right {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
.slide.in {
  -webkit-transform: translate(0) !important;
  -moz-transform: translate(0) !important;
  -ms-transform: translate(0) !important;
  -o-transform: translate(0) !important;
  transform: translate(0) !important;
}
.logo {
  color: #fd6e6e;
  display: block;
  text-align: center;
  font-size: 3.3em;
  font-weight: 300;
}
.main-header {
  padding: 30px 0;
}
.button,
button {
  padding: 10px 20px;
  background: #fd6e6e;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1em;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.button.large,
button.large {
  font-size: 1.3em;
  padding: 15px 30px;
}
.button.background-less,
button.background-less {
  background: none;
  border: 1px solid #fd6e6e;
  color: #fd6e6e;
}
.button.background-less:hover,
button.background-less:hover {
  background: #fd6e6e;
  color: #fff;
}
.button.background-less.green,
button.background-less.green {
  border: 1px solid #3ecd8e;
  color: #3ecd8e;
}
.button.background-less.green:hover,
button.background-less.green:hover {
  background: #3ecd8e;
  color: #fff;
}
.centered-button-container {
  text-align: center;
}
a.button {
  color: #fff;
}
button {
  font-family: Lato, Helvetica;
  margin: 0;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.main-title {
  color: #fd6e6e;
  text-align: center;
}
.task-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.task-list li {
  list-style: none;
}
.task {
  margin-bottom: 20px;
  border: 1px solid #d6d9e0;
  padding: 15px 60px 15px 90px;
  position: relative;
  overflow: hidden;
}
.task input,
.task textarea,
.task button {
  display: none;
}
.task:first-child {
  margin-top: 20px;
}
.task.grow {
  padding: 0 20px 0 90px;
  margin-bottom: 0;
  border: 0;
}
.task.grow.in {
  padding: 15px 60px 15px 90px;
  max-height: 82px;
  margin-bottom: 20px;
  border: 1px solid #d6d9e0;
}
.task.slide {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.task.edit-mode {
  max-height: 192px !important;
  padding: 0 0 0 70px !important;
}
.task.edit-mode input,
.task.edit-mode textarea,
.task.edit-mode button {
  display: inherit;
}
.task.edit-mode input,
.task.edit-mode textarea {
  border: none;
  border-bottom: 1px solid #ccc;
}
.task.edit-mode button {
  margin-top: -3px;
}
.task.edit-mode .task-actions {
  opacity: 0;
}
.task.edit-mode .task-title,
.task.edit-mode .task-description {
  display: none;
}
.task-description {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
}
.task-actions {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.task-actions i {
  cursor: pointer;
}
.task-action {
  width: 70px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #fff;
  cursor: pointer;
  border-right: 1px solid #d6d9e0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.task-action:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2em;
  width: 100%;
  text-align: center;
  font-family: 'Flat-UI-Icons';
}
.task-action [class*="fui-"] {
  font-size: 2.8em;
}
.task-action:hover {
  background: #3ecd8e;
}
.task-action:hover:after {
  content: "\e00a";
}
.task-action.finished {
  background: #3ecd8e;
}
.task-action.finished:after {
  content: "\e00a";
}
.task-action.finished:hover {
  background: #fd6e6e;
}
.task-action.finished:hover:after {
  content: "\e00b";
}
.create-task {
  overflow: hidden;
  max-height: 95px !important;
}
.create-task.in {
  max-height: 257px !important;
}
.create-task .add-task {
  font-size: 1.9em;
  padding: 20px;
  background: #3ecd8e;
  color: #fff;
  float: left;
  position: relative;
  z-index: 999;
  cursor: pointer;
}
.create-task .add-task + input {
  font-size: 1.25em;
  width: 650px;
  padding: 24px 15px;
  border-left: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.create-task .textarea-container {
  overflow-y: hidden;
}
.create-task textarea {
  border-top: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.create-task button {
  margin: 20px 0;
}
.no-tasks {
  font-size: 2.3em;
  color: #ccc;
  font-weight: 300;
  margin-top: 20px;
  text-align: center;
}
.cancel-task-button {
  margin-left: 10px !important;
}
